In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!pip install geopy
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Requirement already satisfied: geopy in c:\users\lawt9\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\lawt9\anaconda3\lib\site-packages (from geopy) (1.50)
Libraries imported.

In [2]:
url = 'https://geo.mycyber.org/south_africa/johannesburg' #source of the data
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[-1] #convert dataset into a dataframe
df.head()

       Suburb  Zip Code  Postal Code
0         NaN    2000.0       2001.0
1  Abbotsford       NaN       2192.0
2     Aeroton    2013.0       2190.0
3     Airdlin    2157.0          NaN
4  Alan Manor       NaN       2091.0

In [3]:
df.isnull().sum()

Suburb           1
Zip Code       892
Postal Code     91
dtype: int64